@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <h2 id="headTitle">Github Excersize</h2>
        <p id="bodyPar">
            In this web excersize you can search for any github repositories you would like.
            To start, click on the "Search" link in the header and write on the search bar the repository you would like to search.
        </p>
    </div>
</div>

